@using Borg.Cms.Basic.PlugIns.Documents.ViewModels
@model DocumentViewModel
@{
    Layout = string.IsNullOrWhiteSpace(Orchestrator.Device.Layout) ? "_Layout" : Orchestrator.Device.Layout;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">

            <form asp-controller="Home" asp-action="ToggleState" asp-area="Documents" asp-route-redirecturl="@Orchestrator.Device.RelativePath()" method="post" class="pull-right margin">
                <input type="hidden" name="id" value="@Model.Document.Id" />
                <input type="hidden" name="operation" value="deleted" />
                <button doc-deleted deleted-state="@Model.Document.IsDeleted"></button>
            </form>

            <form asp-controller="Home" asp-action="ToggleState" asp-area="Documents" asp-route-redirecturl="@Orchestrator.Device.RelativePath()" method="post" class="pull-right margin">
                <input type="hidden" name="id" value="@Model.Document.Id" />
                <input type="hidden" name="operation" value="published" />
                <button doc-published published-state="@Model.Document.IsPublished"></button>
            </form>

            @Html.Partial("Components/LatestUserDocuments/Partials/CheckOut", Model)
            @Html.Partial("Components/LatestUserDocuments/Partials/CheckIn", Model)
        </div>
    </div>
</div>