@model IEnumerable<Borg.Platform.EF.CMS.DeviceState>
<table class="table table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Theme</th>
            <th>Scheme</th>
            <th>Layout</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr role="row" data-id="@item.Id">
                <td>   <a asp-controller="Devices" asp-action="Home" asp-route-id="@item.Id">@item.FriendlyName</a>     </td>
                <td>@item.Theme</td>
                <td>@item.RenderScheme</td>
                <td title="@item.Layout">@System.IO.Path.GetFileNameWithoutExtension(item.Layout)</td>
                <td class="text-right">
                    <form role="form" asp-controller="Devices" asp-action="Delete" method="post" class="form-horizontal no-margin no-padding" asp-route-redirectUrl="@Orchestrator.Device.RelativePath()">
                        <input type="hidden" name="RecordId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-xs no-margin" title="delete @item.FriendlyName"><i class="fa fa-remove"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>