@using Borg.Bookstore.Areas.Backoffice.Features.Users
@model UserViewModel

@{
    var roles = ViewBag.Roles as string[];
    string Rolestate(UserViewModel usr, string rl) => usr.Roles.Contains(rl) ? "in" : "out";
    string Roleclass(UserViewModel usr, string rl) => usr.Roles.Contains(rl) ? "success" : "danger";
}

<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Roles</h3>
    </div>

    <div class="list-group no-margin" id="usersrolesdropdownwidget">
        @foreach (var role in roles)
        {
            <a href="#" class="list-group-item list-group-item-action list-group-item-@Roleclass(Model, role) lnk"
               data-elem="@Model.UserId" data-id="@Model.UserName" data-role="@role" data-state="@Rolestate(Model, role)"
               id="@string.Format("lnk{0}{1}", Model.UserId, role)">
                @role
            </a>
        }
    </div>
</div>

<script device id="users-roles-dropdown-widget" script-position="Bottom" weight="105">
    $(function (event) {
        var url = '@Url.Action("ToggleRole")';

        $('#usersrolesdropdownwidget a.lnk').click(function (event) {
            var self = this;
            var elemId = $(self).data('elem');
            var id = $(self).data('id');
            var role = $(self).data('role');

            var state = $(self).data('state');
            var action = "add";
            if (state === "in") { action = "remove";}
            var postdata = { 'userId': id, 'role': role, "action" : action };

            $.ajax({
                type: 'POST',
                url: url,
                data: postdata,
                success: function (data) {
                    var trgt2 = 'dsp' + elemId;
                    var el = $(self);
                    if (data.action !== "add") {
                        el.removeClass('list-group-item-success').addClass('list-group-item-danger').data('state', 'out');
                    } else {
                        el.removeClass('list-group-item-danger').addClass('list-group-item-success').data('state', 'in');
                        $(self).data('state','in');
                    }
                }
            });
            console.debug('action: ' + action + ' state: ' + state + ' user: ' + id + ' role: ' + role);
            event.preventDefault();
        });
    });
</script>