@using Borg.Cms.Basic.PlugIns.Documents.ViewModels
@model DocumentHistoryViewModel
@{
    string CurrentRowClass(int v) => Model.CurrentVersion() == v ? "active" : "";
}

<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Version history</h3>
    </div>

    <div class="box-body no-padding">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th style="width: 10px;"></th>
                    <th>File</th>
                    <th>Size</th>
                    <th>Check in</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.Rows())
                {
                    <tr class="@CurrentRowClass(t.version.Version)">
                        <td><strong>@t.version.Version</strong></td>
                        <td>
                            <a asp-area="Documents" asp-controller="Uploader" asp-action="Version" asp-route-id="@Orchestrator.Device.RouteValues["id"][0]" asp-route-version="@t.version.Version" target="_blank" title="@t.version.FileSpec.Name">
                                <div style=" white-space: nowrap; overflow: hidden;text-overflow: ellipsis; width: 120px;">@t.version.FileSpec.Name</div>
                            </a>
                        </td>
                        <td>
                            @t.version.FileSpec.SizeInBytes.SizeDisplay()
                        </td>
                        <td>
                            @if (t.checkOut != null)
                            {
                                if (t.checkOut.CheckedIn)
                                {
                                    <span>@t.checkOut.CheckedInBy</span>
                                    <span>@t.checkOut.CheckedinOn.Value.ToLocalTime().ToString("dd/MM/yy HH:mm")</span>

                                }
                                else
                                {
                                    <span>@t.checkOut.CheckedOutBy</span>
                                }

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>