@using Borg.Platform.EF.CMS
@model ComponentState

<div class="pull-right">
    <form asp-controller="Components" asp-action="ToggleState" asp-area="Backoffice" asp-route-redirecturl="@Orchestrator.Device.RelativePath()" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="operation" value="published" />
        <button comp-published published-state="@Model.IsPublished"></button>
    </form>
</div>
<div class="pull-right" style="margin-right: 10px;">
    <form asp-controller="Components" asp-action="ToggleState" asp-area="Backoffice" asp-route-redirecturl="@Orchestrator.Device.RelativePath()" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="operation" value="deleted" />
        <button comp-deleted deleted-state="@Model.IsDeleted"></button>
    </form>
</div>