@using Borg.Cms.Basic.Lib.Features.Navigation
@using Borg.Infra.DTO
@using Borg.MVC

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_headScripts")
    @await RenderSectionAsync("head", required: false)
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@_settings.Tenant.Endpoint">@_settings.Tenant.ServiceTag</a>
            </div>
            @await RenderSectionAsync("menu", required: false)
        </div>
    </nav>
    <div class="container">
        @await RenderSectionAsync("main", required: false)
        @RenderBody()
    </div>
<div class="cookies" style="display:none;" data-plugin-cookie="">
    <div class="inner">
        HALLO
    </div>
</div>
    @await RenderSectionAsync("footer", required: false)

    @Html.Partial("_bottomScripts")
</body>
</html>