@using Borg.Cms.Basic.Lib
@using Borg.Cms.Basic.Lib.Features.Auth
@{
    var collapseClass = UserSession.MenuIsCollapsed() ? "sidebar-collapse" : "";
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_headScripts")
    @RenderSection("headscripts", required: false)
</head>
<body class="hold-transition skin-black-light sidebar-mini @collapseClass">
<div class="wrapper">
    @await Html.PartialAsync("Layout/MainHeader")
    <aside class="main-sidebar">
        @await Html.PartialAsync("Layout/Navigation")
    </aside>

    <div class="content-wrapper">

        <section class="content-header">
            @if (IsSectionDefined("contentheader"))
            {
                @RenderSection("contentheader", required: false)
            }
            else
            {
                @await Html.PartialAsync("Layout/PageHeader")
            }
        </section>

        <section class="content">
            @RenderBody()
        </section>
    </div>
</div>
    @await Html.PartialAsync("Layout/MainFooter")
    @await Html.PartialAsync("Layout/HiddenSidebar")
    @Html.Partial("_bottomScripts")
    @RenderSection("bottomscripts", required: false)
    @Html.Partial("_serverResponse")
</body>
</html>