@using Borg.Cms.Basic.Lib.Features.Auth

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_headScripts")
    @RenderSection("headscripts", required: false)
</head>
<body class="skin-black-light" style="background: #f9fafc;">
    <div class="wrapper">
        @RenderBody()
    </div>

    @Html.Partial("_bottomScripts")
    @RenderSection("bottomscripts", required: false)
</body>
</html>
