@using System.Reflection
@using Borg.CMS.BackOfficeInstructions
@model object

@{
    var t = Model.GetType();
    var tabs = new List<string>() { t.Name };
    tabs.AddRange(EditorAttributeHelper.PropertyTabs(t));
    var dict = EditorAttributeHelper.ProperiesByTabs(t);
}
<form>
    <ul class="nav nav-pills">
        @for (var i = 0; i < tabs.Count; i++)
        {
            <li class="@(i==0?"active":string.Empty)"><a href="#tab_@i" data-toggle="tab">@tabs[i].SplitUpperCaseToString()</a></li>
        }
    </ul>
    <div class="tab-content">

        @for (var i = 0; i < tabs.Count; i++)
        {
            <div class="@(i==0?"tab-pane fade in active":"tab-pane fade")" id="tab_@i">

                @foreach (var prop in dict[tabs[i]])
                {
                    <div class="form-group">
                        @Html.Label(prop.Name)
                        @Html.Editor(prop.Name)
                    </div>
     
                }
                
            </div>
        }

    </div>
    <button submit-form />
</form>