@using Atlas.Web
@using Borg.Cms.Basic.Lib.Features.Auth.Register
@model Borg.Cms.Basic.Lib.Features.Auth.Register.RegisterViewModel
@inject AtlasSettings Settings
<div class="register-box">
    <div class="register-logo">
        <a asp-controller="Home" asp-action="Home"><img src="~/images/Futura-Logo-RGB-&-Blue.png" alt="futura performance unlocked" class="img-responsive image" /></a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Hello <b>@Model.FirstName @Model.LastName</b>.</p>
        <p class="login-box-msg">Please check your <b>@Model.Email</b> account for an email containig the registration <b>verification code</b>.</p>
        <form asp-controller="Account" asp-action="RegistrationVerification" asp-route-email="" method="post" role="form">
            <div class="form-group has-feedback hide">
                <input type="email" asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.Email)">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group has-feedback">
                        <input type="password" asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.Password)">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                <div class="form-group has-feedback">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.ConfirmPassword)">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>*@

            <div class="form-group has-feedback hide">
                <input type="text" asp-for="LastName" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.LastName)">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback hide">
                <input type="text" asp-for="FirstName" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.FirstName)">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback hide">
                <input type="password" asp-for="LastName" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.LastName)">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback hide">
                <label asp-for="Timezone"></label>

                <select asp-for="Timezone" asp-items="@Model.TimeZoneOptions" class="select2 form-control"></select>
                <span asp-validation-for="Timezone" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback ">
                <input type="text" asp-for="VerificationCode" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.VerificationCode)">
                <span class="glyphicon glyphicon-ok-circle form-control-feedback"></span>
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="@Url.Action("Login")" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
</div>