@using Borg.Bookstore.Areas.Backoffice.Features.Users
@using Borg.Bookstore.Features.Users.ViewModels
@model IPagedResult<Borg.Bookstore.Features.Users.ViewModels.UserRowViewModel>
@{

    var searchterm = ViewContext.HttpContext.Request.Query["searchterm"];
    string RowColourClass(UserRowViewModel u) => u.LockedOut ? "danger" : "success";
    string RowIconClass(UserRowViewModel u) => u.LockedOut ? "lock" : "unlock";
}

<div class="row ">
    <div class="col-md-6 col-md-offset-3">

        <form role="form" asp-controller="Users" asp-action="Users" method="get">
            <div class="form-group">
                <div class="input-group ">
                    <input id="searchterm" name="searchterm" class="form-control" type="search" value="@searchterm" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info pull-right">Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="box ">
            @*<div class="box-body">*@
            <div class="box-body table-responsive no-padding">
                <table class="table table-hovere">
                    <thead>
                        <tr>

                            @*<td style="width: 15px;"></td>*@
                            <td></td>

                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Roles</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model.Records)
                        {
                            <tr class="@RowColourClass(u)">

                                <td>
                                    <a asp-controller="Users" asp-action="Item" asp-route-email="@u.UserName" class="text-@RowColourClass(u)">
                                        <i class="fa fa-@RowIconClass(u)" aria-hidden="true"></i><span> @u.UserName</span>
                                    </a>
                                </td>

                                <td>@u.FirstName</td>
                                <td>@u.LastName</td>
                                <td>

                                    <span id="@string.Format("dsp{0}", u.UserId)"><concat-text data="@u.Roles" empty-display="---"></concat-text></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<script device id="users-roles-dropdown-widget" script-position="Bottom" weight="105">
        $(function (event) {
            var url = '@Url.Action("ToggleRole")';
            $('a.lnk').click(function (event) {
                var self = this;
                var elemId = $(self).data('elem');
                var id = $(self).data('id');
                var role = $(self).data('role');

                var state = $(self).data('state');
                var action = "add";
                if (state === "in") { action = "remove";}
                var postdata = { 'userId': id, 'role': role, "action" : action };

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: postdata,
                    success: function (data) {

                        var trgt1 = 'ico' + elemId + role;
                        var trgt2 = 'dsp' + elemId;
                        var el = $('#' + trgt1);
                        if (data.action !== "add") {
                            el.removeClass('fa').removeClass('fa-minus').addClass('fa').addClass('fa-plus');
                            $(self).data('state', 'out');
                        } else {
                            el.removeClass('fa').removeClass('fa-plus').addClass('fa').addClass('fa-minus');
                            $(self).data('state','in');
                        }

                        $('#' + trgt2).html(data.message);
                    }

                });

                event.preventDefault();
            });
        });
    </script>*@