@using Borg.Cms.Basic.Lib.Features.Navigation.Commands
@model NavigationItemRecordCreateOrUpdateCommand

@{
    var isNewRecord = Model.Record.Id == 0;
    var formTilte = isNewRecord ? "New" : Model.Record.Display;
    var typeOptions = Model.NavigaionTypeOptions
        .Select(x => new SelectListItem()
        {
            Text = x.ToString(),
            Value = x.ToString(),
});

    var parentOptions = Model.ParentOptions.Select(x => new SelectListItem()
    {
        Value = x.Key.Item1.ToString(),
        Text = '-'.Repeat(x.Key.Item2) + x.Value.Value
    }).ToList();
    parentOptions.Insert(0, new SelectListItem() { Value = "0", Text = "..." });
}

<div class="box ">
    <div class="box-header with-border">
        <h3 class="box-title">@formTilte</h3>
    </div>

    <form role="form" asp-controller="Menus" asp-action="Item" method="post" class="form-horizontal">
        <div class="box-body">
            <div class="form-group hidden">
                <label asp-for="Record.Id"></label>
                <input type="text" class="form-control" asp-for="Record.Id" placeholder="@Html.NameFor(x=>x.Record.Id)">
                <span asp-validation-for="Record.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Display"></label>
                <input type="text" class="form-control" asp-for="Record.Display" placeholder="@Html.NameFor(x => x.Record.Display)">
                <span asp-validation-for="Record.Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Path"></label>
                <input type="text" class="form-control" asp-for="Record.Path" placeholder="@Html.NameFor(x => x.Record.Path)">
                <span asp-validation-for="Record.Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Group"></label>
                <input type="text" class="form-control" asp-for="Record.Group" placeholder="@Html.NameFor(x => x.Record.Group)">
                <span asp-validation-for="Record.Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.ParentId"></label>
                <select asp-for="Record.ParentId" asp-items="@parentOptions" class=" form-control select2"></select>
                <span asp-validation-for="Record.ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.ItemType"></label>
                <select asp-for="Record.ItemType" asp-items="@typeOptions" class=" form-control select2"></select>
                <span asp-validation-for="Record.ItemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="Record.IsPublished" />
                <label asp-for="Record.IsPublished"></label>
                <span asp-validation-for="Record.IsPublished" class="text-danger"></span>
            </div>
            <div class="form-group" asp-validation-summary="All">
            </div>
        </div>
        <div class="box-footer text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>